body{
    font-family: "Comic Sans MS";
    letter-spacing: 0.15em;
    background-color: #f2e9d3;
    font-size: 12px;
}

h1{
    text-align: center;
    font-size: 30px;
}

h2{
    text-align: center;
    font-size: 25px;
}

#banner{
    background-color: #fff;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 10px;
    width: 100%;
    float: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#navbar{
    background-color: #fff;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 10px;
    float: center;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#left{
    background-color: #fff;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#right{
    background-color: #fff;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

li{
    font-weight: bold;
    margin: 5px;
    text-align: left;
}

p{
    font-size: 15px;
    font-weight: bold;
}

a+a{
    margin-left: 10px;
}

#navbar a:hover {
    background-color: #2980b9;
}